body{
  background-color: #2f3544;
  color: white;
}

.timer{
  width: 350px;
  height: 350px;
}

.button-icon {
  width: 30px;
}
.button-button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}